@import "../../assets/styles/responsive";

.collections-topbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    & .collection-card {
        width: 45%;
        padding: 8px;
        @include lg {
            width: 100%;
        }
    }

    & .stats {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 12px;
        width: fit-content;

        @include sm {
            max-width: 320px;
            margin: auto;
            justify-content: center;
            column-gap: 12px;
        }
    }
}

.collections-content {
    margin-top: 48px;

    & .search-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        & > h3 {
            color: white;
            width: fit-content;
            margin: 12px 0;
            font-size: 28px;
        }

        & .search-wrapper {
            width: 320px;
            @include sm {
                width: 100%;
            }
        }

        & .text-field {
            width: calc(100% - 36px);
            background-color: #ffffff0c;
        }
    }

    & .action-bar {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        & .left-buttons,
        & .right-buttons {
            display: flex;
            margin: 12px 0;
            column-gap: 12px;

            & > button {
                border-radius: 16px;
                padding: 6px 16px;
            }
        }
    }
}

.tokens-cards {
    display: flex;
    justify-content: center;

    & .tokens-container {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        justify-content: center;
    }
}
