$background-color: #090719;
$spinner-color: #DEC1FF;

$text-color: white;

$bg-btn-primary: #523DF1;
$bg-btn-secondary: #F0F0F0;
$bg-btn-danger: #C92A2A;
$bg-btn-primary-disabled: #8374F1;
$bg-btn-secondary-disabled: #CCC;
$bg-btn-danger-disabled: #cc6868;

$color-btn-primary: white;
$color-btn-secondary: #523DF1;
$color-btn-danger: white;
