@import "variables";

%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}



.container {
    margin: auto;

    &.container-sm {
        max-width: 640px;
        padding: 8px;
    }

    &.container-md {
        max-width: 960px;
        padding: 16px;
    }

    &.container-lg {
        max-width: 1200px;
        padding: 24px;
    }
}

.cursor-pointer {
    cursor: pointer;
}
