@import "variables";
@import "responsive";

%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin: auto;

    &.container-sm {
        max-width: 640px;
        padding: 8px;
    }

    &.container-md {
        max-width: 960px;
        padding: 16px;
    }

    &.container-lg {
        max-width: 1200px;
        padding: 24px;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.grid-container {
    display: grid;
    grid-template-columns: 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33%;
}

@for $i from 1 through 12 {
    .grid-item-#{$i} {
        grid-column: auto / span $i;
    }

    .grid-item-xs-#{$i} {
        @include xs {
            grid-column: auto / span $i;
        }
    }

    .grid-item-sm-#{$i} {
        @include sm {
            grid-column: auto / span $i;
        }
    }

    .grid-item-md-#{$i} {
        @include md {
            grid-column: auto / span $i;
        }
    }

    .grid-item-lg-#{$i} {
        @include lg {
            grid-column: auto / span $i;
        }
    }

    .grid-item-xl-#{$i} {
        @include xl {
            grid-column: auto / span $i;
        }
    }

    .m-#{$i} {
        margin: $i * 4px !important;
    }
    .ml-#{$i} {
        margin-left: $i * 4px !important;
    }
    .mt-#{$i} {
        margin-top: $i * 4px !important;
    }
    .mb-#{$i} {
        margin-bottom: $i * 4px !important;
    }
    .mr-#{$i} {
        margin-right: $i * 4px !important;
    }
    .mx-#{$i} {
        margin-left: $i * 4px !important;
        margin-right: $i * 4px !important;
    }
    .my-#{$i} {
        margin-top: $i * 4px !important;
        margin-bottom: $i * 4px !important;
    }

    .p-#{$i} {
        padding: $i * 4px !important;
    }
    .pl-#{$i} {
        padding-left: $i * 4px !important;
    }
    .pt-#{$i} {
        padding-top: $i * 4px !important;
    }
    .pb-#{$i} {
        padding-bottom: $i * 4px !important;
    }
    .pr-#{$i} {
        padding-right: $i * 4px !important;
    }
    .px-#{$i} {
        padding-left: $i * 4px !important;
        padding-right: $i * 4px !important;
    }
    .py-#{$i} {
        padding-top: $i * 4px !important;
        padding-bottom: $i * 4px !important;
    }

    .w-#{$i} {
        width: $i * 4px !important;
    }
    .h-#{$i} {
        height: $i * 4px !important;
    }

    .m-0 {
        margin: 0;
    }
    .p-0 {
        padding: 0;
    }
}

.flex-center {
    @extend %flex-center;
}

.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

